{
  "env": "debug",
  "hostname": null,
  "proxy": {
    "host": null,
    "port": null
  },
  "emailService": {
    "serverConfig": {
      "host": "",
      "port": null,
      "secure": false,
      "auth": false
    },
    "from": "",
    "to": [],
    "header": "Test completed, please check the details below:",
    "footer": null,
    "signature": "WebNN Team"
  },
  "scp": {
    "target": "user@host:/path/to/target"
  }
}
